.effect-shadow{
    -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

.hover-animate {
    --s: 0.1em;   /* the thickness of the line */
    --c: #35cfcf; /* the color */
    
    color: var(--bs-gray-700);
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#35cfcf 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
  }
  .hover-animate:hover {
    --_p: 100%
  }

  .modal-fullscreen {
    width: 75vw;
    max-width: none;
    height: 100%;
}

.cursor-click{
  cursor : pointer !important;
}

.text-bsi-green{
  color : #01A49F !important;
}

.text-bsi-orange{
  color : #FAAD3D !important;
}

.dsp-none{
  display: none !important;
}

.nav-line-tabs .nav-item .nav-link.active{
  color: var(--bs-primary);
}

.progress 
{
  /* display:none;  */
  position:relative; 
  width:400px; 
}
.bar 
{ 
  background-color: var(--bs-success); 
  width:0%; 
  height:20px; 
  border-radius: 3px; 
}
.percent 
{ 
  position:absolute; 
  display:inline-block; 
  left:48%; 
}